In [1]:
import pandas as pd
import numpy as np

In [5]:
x = {"day": [1,2,np.nan,4,5], "sales": [100,200,300,400,np.nan]}
df = pd.DataFrame(x)

In [6]:
df

   day  sales
0  1.0  100.0
1  2.0  200.0
2  NaN  300.0
3  4.0  400.0
4  5.0    NaN

In [7]:
df.dropna()

   day  sales
0  1.0  100.0
1  2.0  200.0
3  4.0  400.0